@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

.number{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Poppins', sans-serif;
}

.leftNumber{
    display: flex;
    gap:70px;
}

.rightNumber{
    display: flex;
    gap: 70px;
}